PORT=5000
# Local:
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/barbearia
# Supabase local/dev (CORTE CERTO):
DATABASE_URL=postgresql://postgres:[SUA-SENHA]@db.oaeldamoskvnnlfbaexi.supabase.co:5432/postgres?sslmode=require
# Supabase no Railway:
# DATABASE_URL=postgresql://postgres.oaeldamoskvnnlfbaexi:[SUA-SENHA]@aws-0-us-east-1.pooler.supabase.com:5432/postgres
DATABASE_SSL=true
ADMIN_USER=admin
ADMIN_EMAIL=admin@cortecerto.local
ADMIN_PASS=admin123
API_URL=http://localhost:5000
BARBEARIA_ID=corte-certo
BARBEARIA_NOME=CORTE CERTO
